* {
    background-color: rgb(252, 233, 237);
    color: rgb(147, 72, 177);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: normal;
    margin-top: 8px;
    margin-left: 6px;
}
h1 {
    font-size: 20px;
    font-weight: 600;
    color:rgb(238, 115, 156);
}
h2 {
    font-size: 16px;
    text-align: center;
    border: 4px dotted rgb(211, 157, 241);
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}

p {
    font-size: 16px;
    line-height: 0px;
}